.contact-edit {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    button {
        width: 25%;
        align-self: center;
        margin-top: 10px;
    }

}

.loading{
    margin: 0 auto;
    font-weight: 800;
}