form {
    text-align: center;
    input {
        margin-inline-start: 5px;
    }
}

@media (max-width: 467px) {
    form {
        text-align: center;
        input {
            margin-inline-start: 5px;
        }
        margin-bottom: 25px;
    }
  }